/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}
input{
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.322);
    padding: 10px 15px;
}

input:focus{
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.781);
}

.primary{
    background-color: #321072;
    color: white;
    border: none;
    padding: 7px 0;
}

i{
    cursor: pointer;
}